{:deps {clj-python/libpython-clj {:mvn/version "2.016"}
        io.github.inferenceql/inferenceql.inference {:git/sha "e1dcd0f2721dcdef388f8270dc9bd80eecde3ef9"}
        medley/medley {:mvn/version "1.3.0"}}

 :aliases {;; https://github.com/clj-python/libpython-clj/issues/180#issuecomment-949993210
           :jdk-17 {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
                               "--enable-native-access=ALL-UNNAMED"]}
           :test {:extra-paths ["test/src"
                                "test/resources"]
                  :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}
                               lambdaisland/kaocha {:mvn/version "1.0-612"}}}
           :readme {:extra-deps {seancorfield/readme {:mvn/version "1.0.13"}}
                    :main-opts ["-m" "seancorfield.readme"]}}}
